<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,400&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/styles.css")
    title Landing Page
  body
    header.header
      #top-bar.top-bar
        .top-bar__logo
          img(src="/assets/images/logo-bookmark.svg", alt="logo").top-bar__img
        img(src="/assets/images/icon-hamburger.svg", alt="icon-menu")#icon-menu.top-bar__icon
      nav#main-nav.main-nav.nav
        ul.main-menu
          li.main-menu__item: a(href="#features").main-menu__link Features
          li.main-menu__item: a(href="#faqs").main-menu__link FAQS
          li.main-menu__item: a(href="#contact").main-menu__link Contact
        button#login-button.login-button Login
        .social-icons
          img(src="/assets/images/icon-facebook.svg", alt="").social-icons__img
          img(src="/assets/images/icon-twitter.svg", alt="").social-icons__img
      
    section.section.section--first
      .section__item
        img(src="", alt="")
      .section__item
        h1.section__title A Simple Bookmark Manager
        p.section__text A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.
        button.button Get it on Chrome
        button.button Get it on Firefox
     
    section#features.section--second
      h2.section__title Features
      p.section__text Our aim is to make it quick and easy for you to access your favourite websites. Your bookmarks sync between your devices so you can access them on the go.
      ul.tabs
        li.tabs__item Simple Bookmarking
          article.tabs__content
            img(src="", alt="")
            h2.tabs__title Bookmark in one click
            p.tabs__text Organize your bookmarks however you like. Our simple drag-and-drop interface gives you complete control over how you manage your favourite sites.
            button.button More Info
        li.tabs__item Speedy Searching
          article.tabs__content
            img(src="", alt="")
            h2.tabs__title Intelligent search
            p.tabs__text Our powerful search feature will help you find saved sites in no time at all. No need to trawl through all of your bookmarks.
            button.button More Info
        li.tabs__item Easy Sharing
          article.tabs__content
            img(src="", alt="")
            h2.tabs__title Share your bookmarks
            p.tabs__text Easily share your bookmarks and collections with others. Create a shareable link that you can send at the click of a button.
            button.button More Info
    section#download.section.section--third
      h2.section__title Download the extension
      p.section__text We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.

      article.browser-card
        img(src="", alt="").browser-card__image
        h3.browser-card__title Add to Chrome
        p.browser-card__description Minumum version 62
        //Dots
        img(src="", alt="")
        button.button Add & install Extension

      article.browser-card
        img(src="", alt="").browser-card__image
        h3.browser-card__title Add to Firefox
        p.browser-card__description Minumum version 55
        //Dots
        img(src="", alt="")
        button.button Add & install Extension

      article.browser-card
        img(src="", alt="").browser-card__image
        h3.browser-card__title Add to Opera
        p.browser-card__description Minumum version 46
        //Dots
        img(src="", alt="")
        button.button Add & install Extension

    section#faqs.section.section--fourth
      h2.section__title Frequently Asked Questions
      p.section__text Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us.
      .accordion
        .accordion__item
          h3.accordion__title What is Bookmark
          p.accordion__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum  quam ornare mattis.
        .accordion__item
          h3.accordion__title How can I request a new browser?
          p.accordion__text Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
        .accordion__item
          h3.accordion__title What is Bookmark
          p.accordion__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum  quam ornare mattis.
        button.button More Info
    footer.footer
      h3.footer__title
      p.footer__text
      form#form.form
        input(type="email" placeholder="Enter your email address").form__input
        button.button Contact Us
    //- nav.footer-nav.nav
    //-   .logo
    //-     img(src="", alt="").logo__img
    //-   nav.main-nav.nav
    //-     ul.main-menu
    //-       li.main-menu__item: a(href="#features") Features
    //-       li.main-menu__item: a(href="#faqs") FAQS
    //-       li.main-menu__item: a(href="#contact") Contact
    //-     .social-networwks
    //-       a(href="#"): i.fa.fa-facebook
    //-       a(href="#"): i.fa.fa-twitter
  script(src="js/scripts-min.js")
