extends ../templates/template

block SEO
    include ../config/vars/SEO

    include ../includes/meta_tags
    include ../includes/favicons

block header
    include ../layout/header

block main
    include ../layout/main_content

block footer
