-const pageTitle = 'Landing page'

//- SEO
-const author = 'Dorian Desings'
-const twitterName = '@DorianDesings'
-const type = 'website'
-const description = 'Frontendmentor challenge landing page'
-const keywords = 'Frontendmentor, challenge, landing page'
-const url = 'http://www.web-link.com'
-const image = url + 'url-of-the-image-on-the-server'