.buttons {
  display: flex;
  justify-content: space-around;
  padding: 0 0.5rem;
  margin-bottom: 7rem;
}

.button {
  background: none;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;

  &--white {
    background-color: var(--dirty-white);
    color: var(--very-dark-blue);
    font-weight: 400;
    box-shadow: 9px 10px 11px -4px rgb(218, 218, 218);
  }

  &--purple {
    background-color: var(--soft-blue);
    color: var(--white);
    font-weight: 400;
  }
}
