.footer {
  background-color: var(--soft-blue);
  padding: 3rem 2rem;
  margin-top: 2rem;
  color: #fff;
  text-align: center;

  &__container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-weight: 300;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 1.4rem;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--very-dark-blue);

    & .logo {
      filter: invert(1) brightness(100);
      background-color: transparent;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}
