.form {
  position: relative;
  &__field {
    margin-bottom: 3rem;
  }

  &__input {
    line-height: 3rem;
    width: 100%;
    padding-left: 1rem;
    position: relative;
    border: none;
    outline: none;
    border-radius: 5px;
    z-index: 10;

    &:invalid {
      box-shadow: 0 0 0 4px var(--soft-red);
      background-image: url('/assets/images/icon-error.svg');
      background-repeat: no-repeat;
      background-position: 93% center;

      & + .form__input-error {
        display: flex;
      }
    }

    &-error {
      position: absolute;
      display: none;
      padding-left: 10px;
      padding-top: 10px;
      border-radius: 5px;
      background-color: var(--soft-red);
      width: 304px;
      top: 40px;
      left: -4px;
      line-height: 2.5;
      font-style: italic;
      font-size: 0.8rem;
    }
  }
}
