.header {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  width: 100%;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: 20% 80%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--white);
    padding: 1rem 0;
  }
}
