.login-button {
  width: 100%;
  background: none;
  padding: 1rem 0;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.3rem;
}
