.social-icons-header {
  width: 90px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 3rem;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.social-icons-footer {
  display: none;

  @media screen and (min-width: 768px) {
    width: 90px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
  }
}
