-const baseImagesUrl = './assets/'

-const favicons = baseImagesUrl + 'favicons/'

-const icons = baseImagesUrl + 'icons/'
-const socialNetwork = icons + 'social_networks/'
-const userExperience = icons + 'user_experience/'

-const images = baseImagesUrl + 'images/'
-const logos = baseImagesUrl + 'logos/'

-const prefixIcon = 'icon-'
-const imgExt = '.svg'

-const SNurl = socialNetwork + prefixIcon
-
    const socialNetworkIcons = {
        'facebook': SNurl + 'facebook' + imgExt,
        'facebook_alt': SNurl + 'facebook-alt' + imgExt,

        'twitter': SNurl + 'twitter' + imgExt,
        'twitter_alt': SNurl + 'twitter-alt' + imgExt,

        'instagram': SNurl + 'instagram' + imgExt,

        'youtube': SNurl + 'youtube' + imgExt
    }

-const UEurl = userExperience + prefixIcon
-
    const userExperienceIcons = {
        'arrow': UEurl + 'arrow' + imgExt,
        'down': UEurl + 'down' + imgExt,
        'up': UEurl + 'up' + imgExt,
        'close': UEurl + 'close' + imgExt,
        'error': UEurl + 'error' + imgExt,
        'hamburger': UEurl + 'hamburger' + imgExt
    }

-
    const illustrations = {
        'bg_dots': images + 'bg-dots' + imgExt,
        'illustration_a': images + 'illustration-features-tab-1' + imgExt,
        'illustration_b': images + 'illustration-features-tab-2' + imgExt,
        'illustration_c': images + 'illustration-features-tab-3' + imgExt,
        'illustration_hero': images + 'illustration-hero' + imgExt,
    }

-const prefixLogos = 'logo-'
-const logoUrl = logos + prefixLogos
-
    const logosIcons = {
        'bookmark': logoUrl + 'bookmark' + imgExt,
        'bookmark_all_white': logoUrl + 'bookmark-all-white' + imgExt,
        'bookmark_text_white': logoUrl + 'bookmark-text-white' + imgExt,
        'chrome': logoUrl + 'chrome' + imgExt,
        'firefox': logoUrl + 'firefox' + imgExt,
        'opera': logoUrl + 'opera' + imgExt
    }